
:root {
  --vermelho-telha: #b2332b;
  --bege-claro: #f3e5c1;
  --marrom-madeira: #5e3a26;
  --preto-quadro: #2e2e2e;
  --amarelo-mostarda: #f1c40f;
}
.botao-adicionar {
  background-color: var(--amarelo-mostarda);
  color: black;
  transition: background-color 0.3s ease;
}
.botao-adicionar:hover {
  background-color: #f7d61f;
}
.botao-sucesso {
  background-color: #22c55e !important;
  color: white !important;
}

.botao-adicionar, .botao-sucesso, button {
  cursor: pointer;
}

