/* Estilos internos para animação do card */
.card {
  opacity: 0; /* O card começa invisível */
  transform: translateY(20px); /* Move o card 20px para baixo no início */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave para visibilidade e posição */
}
.card.visible {
  opacity: 1; /* O card torna-se visível */
  transform: translateY(0); /* Retorna à posição original */
}
/* fim dos Estilos internos para animação do card */

/* Estilo da página */
body {
  background-color: black;
  color: white;
  overflow: hidden; /* Impede a rolagem durante a animação */
}

.btn {
  margin: 20px;
}

.container {
  margin-top: 50px;
  text-align: center;
}

/* Animação dos elementos */
@keyframes slideInFromLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

@keyframes slideInFromTop {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

@keyframes slideInFromBottom {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

.slide-left {
  animation: slideInFromLeft 1s ease-out;
}

.slide-right {
  animation: slideInFromRight 1s ease-out;
}

.slide-top {
  animation: slideInFromTop 1s ease-out;
}

.slide-bottom {
  animation: slideInFromBottom 1s ease-out;
}

/* Classe para a animação de encolhimento e movimento */
.shrink-and-move {
  animation: shrinkAndMove 0.8s forwards; /* Duração de 0.8s */
}

@keyframes shrinkAndMove {
  0% {
    transform: scale(1) translate(0, 0); /* Estado original */
    opacity: 1; /* Totalmente visível */
  }
  100% {
    transform: scale(0.1) translate(50vw, -100vh); /* Encolhe e sobe para o topo direito */
    opacity: 0; /* Desaparece */
  }
}
