body {
  font-family: 'Arial', sans-serif;
}

header {
  background: linear-gradient(45deg, #007bff, #0056b3);
}

#livros .card {
  margin: 15px;
  transition: transform 0.2s;
}

#livros .card:hover {
  transform: scale(1.05);
}