/* Configurações de Tema */
:root {
    --primary: #3ecf8e;
    --background-dark: #101922;
}

/* Customização Tailwind (Injetada via CSS) */
.text-primary { color: var(--primary); }
.bg-primary { background-color: var(--primary); }

/* Ajustes do Scanner de Câmera */
#reader { 
    width: 100%; 
    border-radius: 12px; 
    overflow: hidden; 
    display: none; 
    border: 2px solid var(--primary);
    margin-bottom: 1rem;
}

#reader video {
    border-radius: 10px;
    object-fit: cover;
}

/* Efeito de Scroll Suave para Resultados */
#resultadosBusca::-webkit-scrollbar {
    width: 5px;
}
#resultadosBusca::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}
