 
}

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, #4A90E2, #9013FE);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        
    }




