:root {
    --navbar-light: #1d3557; /* Azul escuro no tema claro */
    --navbar-dark: #333;
}

/* Navbar */
.navbar {
    background-color: var(--navbar-light);
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0; /* Alinha a navbar ao lado esquerdo da tela */
    width: 100%; /* Garante que a navbar ocupe toda a largura da tela */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-btn, .theme-toggle-btn {
    font-size: 30px;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s;
}

.menu-btn:hover, .theme-toggle-btn:hover {
    transform: scale(1.1);
}

.navbar-title {
    font-weight: bold;
}