<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestão de Entidades - ERP ABP</title>

  <!-- Estilos -->
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<!-- ############################################################################# --> 
  <!-- CSS locais -->
  <link rel="stylesheet" href="../../assets/style/style_entidades.css">
  <link rel="stylesheet" href="../../assets/style/style_navbar.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- ############################################################################# --> 
<script src="https://unpkg.com/@supabase/supabase-js@2"></script>  
<script src="../../config/supabase_config.js"></script> 
<script src="../model/verificar_login.js"></script> 
<script src="../model/model_entidades.js"></script>   
  
</head>

<body class="font-inter">

  <!-- Navbar -->
  <div id="navbar"></div>
  <script src="../controller/navbar.js"></script>

  <!-- Formulário -->
  <div id="form_entidades"></div>
  <script src="../controller/entidades_form.js"></script>

  <!-- Lista -->
  <div id="lista_entidades"></div>
  <script src="../controller/entidades_list.js"></script>

  <!-- Controller principal -->
  <script src="../controller/controller_entidades.js"></script>

</body>
</html>
