<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SISTEMA ERP ABP - Inicio</title>
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    
<link rel="stylesheet" href="../../assets/style/index.css">
 

<style>
    /* Esconde todos os cards que possuem o atributo data-role por padrão */
    .card[data-role] {
        display: none;
    }
</style>
    
</head>
<body>
<!-- navbar -->
    <div class="navbar">
        <div style="font-weight: bold; color: #0f172a; font-size: 1.2rem;">
            <i class="fas fa-chart-line" style="color: #3ecf8e;"></i> ERP ABP
        </div>
        <div class="nav-buttons">
            <a href="index.html" class="btn-nav btn-home"><i class="fas fa-home"></i> Início</a>
            <button class="btn-nav" onclick="sairDaConta()">
                <i class="fas fa-sign-out-alt"></i> Sair
            </button>
        </div>
    </div>
<!-- fim navbar -->

<div class="content">      
<div class="grid">

<!-- cardes do menu-->

    
    <a href="entidades.html" data-role="master,psicopedagogo" class="card">
    <i class="fas fa-users"></i>
    <h3>Gestão de Entidades</h3>
    </a>

    <a href="financeiro.html" class="card" data-role="psicopedagogo">
    <i class="fas fa-hand-holding-usd"></i>
    <h3>Financeiro</h3>
    </a>

    <a href="tarefas.html" class="card" data-role="master,psicopedagogo,paciente">
    <i class="fas fa-users"></i>
    <h3>Tarefas</h3>
    </a>

    <a href="acompanhamento.html" class="card" data-role="master,psicopedagogo">
    <i class="fas fa-hand-holding-usd"></i>
    <h3>Acompanhamento</h3>
    </a>

    
 

           

<!-- fim cardes do menu-->         
</div>        
</div>

<script src="https://unpkg.com/@supabase/supabase-js@2"></script>
<script src="../model/config_supabase.js"></script>
<script src="../model/verificar_login_supabase.js"></script>
<script src="../controller/login_controller.js"></script>  
<script src="../controller/auth_chek.js"></script>  
<script src="../controller/session_timeout.js"></script>      
    
    
</body>
</html>
