body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Centraliza o texto */
    background-color: white; /* Fundo branco */
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha */
    justify-content: center; /* Centraliza os cards */
}

/* Para centralizar os cards um embaixo do outro em dispositivos móveis */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Coloca os cards em coluna no modo mobile */
    }
}

/* Mostrar o botão do menu */
.menu-button {
    display: block; /* Garante que o botão do menu esteja visível */
}

/* Outras regras CSS podem ir aqui */
